.event-detail-page {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.event-detail-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.event-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
  text-align: left;
}

.weekday {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.8;
}

.date-display {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.event-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.event-djs {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 10px;
}

.event-extra-info {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 10px;
}

.event-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}

.event-detail-image {
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 20px;
}

.buy-btn {
  display: block;
  margin-left: 0;
}


@media (min-width: 768px) {
  .event-detail-content {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .event-detail-image {
    width: auto;
    height: 500px;
  }

  .event-info {
    max-width: 400px;
  }

  .weekday {
    font-size: 1.1rem;
    margin-top: 30px;
  }

  .date-display {
    font-size: 2rem;
    margin-top: 0;
  }

  .event-name {
    font-size: 1.8rem;
    margin-top: 40px;
  }

  .event-djs {
    font-size: 1.3rem;
    margin-top: 0;
  }

  .event-extra-info {
    margin-top: 10px;
    font-size: 1rem;
  }

  .event-price {
    font-size: 1.3rem;
    margin-top: 0px;
  }
}
