* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* ----------------- VARIABLES ----------------- */
:root {
  --color-bg: #000;
  --color-bg-alt: #222;
  --color-text: #fff;
  --color-border: #fff;
  --color-hover: #222;
  --font-heading: 'Bebas Neue', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* ----------------- CONTENEDOR BASE ----------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ----------------- BOTONES BASE ----------------- */
.btn,
.back-button,
.new-event-btn,
.admin-btn,
.buy-btn,
.form-buttons button,
.new-event-buttons button,
.login-form button,
.admin-edit-buttons button,
.checkout-btn,
.subscribe-btn {
  display: inline-block;
  background: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-border);
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.2s ease, transform 0.1s ease;
  width: 200px; /* tamaño uniforme */
  text-align: center;

}

.btn:hover,
.back-button:hover,
.new-event-btn:hover,
.admin-btn:hover,
.buy-btn:hover,
.form-buttons button:hover,
.new-event-buttons button:hover,
.login-form button:hover,
.admin-edit-buttons button:hover,
.checkout-btn:hover,
.subscribe-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* ----------------- INPUTS / SELECT / TEXTAREA ----------------- */
.input {
  padding: 14px 18px;
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-bg-alt);
  color: var(--color-text);
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}

.input::placeholder {
  color: #aaa;
}

/* Labels */
label {
  font-size: 1.2rem;
  color: #ccc;
  display: block;
  margin-bottom: 5px;
}

/* ----------------- TIPOGRAFÍA ----------------- */
h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-text);
  margin-bottom: 10px;
}

p, span, li, button {
  font-family: var(--font-body);
}

/* ----------------- MEDIA QUERY BASE ----------------- */
@media (min-width: 900px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}
