/* === Header - Mobile First === */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  background-color: #0000008c;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.header-left h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  transition: color 0.2s ease;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-text {
  cursor: pointer;
  color: var(--color-text);
  transition: background 0.2s ease, transform 0.1s ease;
  user-select: none;
  margin-top: 20px;
}

.admin-text:hover {
  transform: scale(1.05);

}

.logout {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;

}

.logout:hover {
  transform: scale(1.1);
}

.logout-icon {
  width: 26px;
  height: 26px;
  filter: brightness(0) invert(1);
}

/* === Desktop Styles === */
@media (min-width: 900px) {
  header {
    justify-content: left;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .header-left {
    gap: 12px;
  }

  .header-left h1 {
    font-size: 1.8rem;
  }



}
